body
{
	color: black;
	background-color: black;
	font-size: 15pt;
	font-family: 'Tekton Pro';
	text-align: center
}

div { background-color:white; text-align:left; margin:0 auto; }

h1 { text-align:center; font-family:'Cooper Std'; padding-top:30px;}

ul
{
text-align:left;
margin-top:0;
margin-left:175px;
padding-top:6px;
padding-bottom:6px;
}
li
{
display:inline;
}
a:link,a:visited
{
font-weight:bold;
color:black;
background-color:white;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
color:white;
background-color:black;
}

.content{ 
background-color:black;
text-align:center;}

.page { padding-left:30px; padding-right:30px; padding-bottom:50px;}

.page { background-color:white; width:75%;}

.polaroid_left {
	float: left;
	position: relative;
	background: #fff;
	padding: 20px;
	margin-right: 30px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	-moz-box-shadow: 1px 1px 3px #222;
	-moz-transform: rotate(-5deg);
	-webkit-box-shadow: 1px 1px 3px #222;
	-webkit-transform: rotate(-5deg);
	box-shadow: 1px 1px 3px #222;
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
	}
	
.polaroid_right {
	float: right;
	position: relative;
	background: #fff;
	padding: 20px;
	margin-right: 30px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	-moz-box-shadow: 1px 1px 3px #222;
	-moz-transform: rotate(5deg);
	-webkit-box-shadow: 1px 1px 3px #222;
	-webkit-transform: rotate(5deg);
	box-shadow: 1px 1px 3px #222;
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
	}
	
.footer { text-align:center; font-variant:small-caps; padding-top:130px; font-weight:bold; }

#navlist{text-align:center;}