body
{	color: black;
	background-color: black;
	font-size: 11 pt;
	font-family: 'Times New Roman';
}

div { background-color:white; text-align:left; margin:0 auto; }

h1 { text-align:center; font-family:'Cooper Std'; padding-top:30px;}

h2 { text-align:center; text-decoration:underline; font-size: 11pt;}


a:link,a:visited
{
font-weight:bold;
color:black;
background-color:white;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
color:white;
background-color:black;
}

.yang { 
padding: 0px; 
margin: 0px;
background-color:white; 
width:100%;
font-size: 11pt;}

#name {font-size: 12pt}

h1, a, hr, .polaroid_left, .polaroid_right, .footer{display:none}